<div class="welcome section-container center-text">
    <span class="header-text">Welcome to The Barefoot Pattern Lab</span>
    <div class="welcome-btn-holder">
        <a href="#">
            <div class="welcome-btn show-atoms">Atoms</div>
        </a>
        <a href="#">
            <div class="welcome-btn show-molecules">Molecules</div>
        </a>
        <a href="#">
            <div class="welcome-btn show-organisms">Organisms</div>
        </a>
    </div>
</div>
